* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(144, 144, 144);
  color: white;
  font-family: sans-serif;
}

#container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: calc(100vh - 5em);
}
