.todoCard {
  background-color: white;
  color: black;
  line-height: 1.5rem;
  height: 325px;
  min-width: 275px;
  border-radius: 8px;
}

.header {
  border-radius: 8px 8px 0 0;
  height: 138px;
  background-color: rgb(90, 90, 90);
}

.todoCard hr {
  margin: 1em 0;
}

.container {
  padding: 1.75em 2em;
}

.todoCard h3,
.todoCard p {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todoCard h3 {
  -webkit-line-clamp: 1;
}

.todoCard p {
  -webkit-line-clamp: 3;
  font-weight: 300;
}

.edit_button,
.delete_button {
  float: right;
  background-color: rgb(161, 161, 161);
  color: white;
  text-transform: uppercase;
  padding: 1em;
  margin-top: 8px;
  margin-left: 5px;
  border: 0;
  border-radius: 5px;
  width: 45px;
  height: 45px;
}
.delete_button {
  margin-right: 10px;
}
.button:hover {
  background-color: rgb(178, 178, 178);
}

.title {
  font-weight: 900;
  margin-bottom: 10px;
}
