h2 {
  margin: 25px;
}

h6 {
  font-size: 1em;
  font-weight: 500;
}

.panel_line {
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 10px 25px 10px 50px;
  align-items: center;
}

.panel_name {
  margin: 20px 25px;
}

.trash {
  width: 20px;
  height: 20px;
  background-color: #fff;
}
.trash:hover {
  background-color: #fff;
}

ul {
  list-style: none;
}

aside ul li a,
aside a {
  text-decoration: none;
  color: white;
}

aside ul li a div:hover {
  background-color: rgb(178, 178, 178);
}

aside hr {
  border: none;
  border-bottom: 1px rgb(226, 226, 226) solid;
}

.focus {
  background-color: rgb(161, 161, 161);
}

.link_create {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 0.9em;
  font-weight: 500;
  margin: 30px 25px;
  text-transform: uppercase;
  background-color: rgb(90, 90, 90);
  padding: 0.8em 1.5em;
  border-radius: 5px;
  border: none;
}
.link_create:hover {
  background-color: rgb(119, 119, 119);
}
