h2 {
  margin: 25px 35px;
}

.panel_name {
  margin: 20px 35px;
}

ul {
  list-style: none;
}

aside ul li a div {
  padding: 10px 50px;
}

aside ul li a,
aside h3 a {
  text-decoration: none;
  color: white;
}

aside ul li a div:hover {
  background-color: rgb(178, 178, 178);
}

.focus {
  background-color: rgb(161, 161, 161);
}
