.d_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  position: fixed;
  width: 100%;
  height: 5em;
  background-color: rgb(193, 193, 193);
  top: 0;
  border-bottom: 1px rgb(226, 226, 226) solid;
}

.navbar {
  height: 100%;
  padding: 0 25px;
}

.logo {
  width: 2.2em;
  height: 2.2em;
  margin-right: 1em;
}

a:has(.title) {
  text-decoration: none;
  color: white;
}

.title {
  text-transform: uppercase;
  font-size: 1.75rem;
  letter-spacing: 0.125rem;
}

ul {
  list-style: none;
}

nav ul li a,
nav button {
  text-decoration: none;
  color: white;
  font-size: 0.9em;
  font-weight: 500;
  margin-left: 0.5em;
  text-transform: uppercase;
  background-color: rgb(90, 90, 90);
  padding: 0.8em 1.5em;
  border-radius: 5px;
  border: none;
}
nav ul li a:hover,
nav button:hover {
  background-color: rgb(119, 119, 119);
}
